/* Variables */
$navbar-height: 35px;
$navbar-default-color: white;
$navbar-default-bg: RGBA(23, 18, 33, .5);
$navbar-default-border: rgba(255, 255, 255, 0);
$navbar-default-link-active-bg: white;

$navbar-default-brand-color: white;

//** Background for the dropdown menu.
$dropdown-bg:                    $navbar-default-bg;
//** Dropdown menu `border-color`.
$dropdown-border:                $navbar-default-border;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            white;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      #927CC2;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         RGBA(23, 18, 33, .9);

//** Active dropdown menu item text color.
$dropdown-link-active-color:     #927CC2;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        RGBA(23, 18, 33, .9);

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   #d5d5d5;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          #927CC2;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #927CC2;

/* Colors */
$primary-brand: #55DBFF;
$secondary-brand: #F970A6;

/* Typography */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,700|Megrim);
$font-family-sans-serif:  'Source Sans Pro', sans-serif;
$special-header-font: 'Megrim', cursive;
$text-color:  #fff;
$headings-color: $primary-brand;
$btn-font-weight: 700;
$btn-primary-bg: $primary-brand;
$btn-primary-color: darken($btn-primary-bg, 60%);


body{
	background-color: #2D2442 !important;
	height: 100%;
    margin: 0 !important; 
}

::selection {
  background: $secondary-brand; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $secondary-brand; /* Gecko Browsers */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
  }
}

.cover-photo{
	width: 100%;
	height: 200px;
	background: linear-gradient(rgba(78,193,233,0.5) 0%, rgba(146,124,194,0.5) 100%), url(../images/space.png) no-repeat;
	background-size: cover;
}

.profile-img{
	border-radius: 100px;
	border: 4px solid #2D2442;
}

.profile-top-info{
	margin-top: 65px;
}

.main-content{
	margin-top: 65px;
}

.steazzy-btn{
	background-image: linear-gradient( #55DBFF 0%, #5269D1 100%);
	box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.50), inset 0px 2px 0px 0px rgba(255,255,255,0.50);
	border-radius: 5px;
	border:0;
	color: $btn-primary-color;
	text-decoration: none;
	font-weight: $btn-font-weight;
	transition: all .5s;
		&:hover{
			text-decoration: none;
			background-image: linear-gradient(-180deg, #5269D1 0%, #04437D 100%);
			box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.50), inset 0px 2px 0px 0px rgba(255,255,255,0.50);
			color: #fff;
			transform: scale(1.2,1.2);
			transform:translateY(-5px);
			box-shadow: 0px 0px 25px $secondary-brand;

		}
}

.img-fill img{
	width: 100%;
	max-width: 184px;
	height: auto;
}
.steazzy-block{
	background-color: #1C1629;
}
.col-padding{
	padding: 15px;
}