/* Variables */
/* Colors */
/* Typography */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,700|Megrim);
body {
  background-color: #2D2442 !important;
  height: 100%;
  margin: 0 !important; }

::-moz-selection {
  background: #f970a6;
  /* WebKit/Blink Browsers */ }

::selection {
  background: #f970a6;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #f970a6;
  /* Gecko Browsers */ }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px; } }
.cover-photo {
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(78, 193, 233, 0.5) 0%, rgba(146, 124, 194, 0.5) 100%), url(../images/space.png) no-repeat;
  background-size: cover; }

.profile-img {
  border-radius: 100px;
  border: 4px solid #2D2442; }

.profile-top-info {
  margin-top: 65px; }

.main-content {
  margin-top: 65px; }

.steazzy-btn {
  background-image: linear-gradient(#55dbff 0%, #5269d1 100%);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 0;
  color: #001b22;
  text-decoration: none;
  font-weight: 700;
  transition: all .5s; }
  .steazzy-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(-180deg, #5269d1 0%, #04437d 100%);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
    color: #fff;
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    box-shadow: 0px 0px 25px #f970a6; }

.img-fill img {
  width: 100%;
  max-width: 184px;
  height: auto; }

.steazzy-block {
  background-color: #1C1629; }

.col-padding {
  padding: 15px; }
