/* Variables */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,700|Orbitron:400,700);
.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: RGBA(23, 18, 33, 0.8) !important;
  color: white !important; }

.navbar-default .navbar-nav > li > a {
  color: white !important; }

/* Colors */
/* Typography */
body {
  background-color: #2D2442 !important;
  height: 100%;
  margin: 0 !important; }

::-moz-selection {
  background: #927cc2;
  /* WebKit/Blink Browsers */ }

::selection {
  background: #927cc2;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #927cc2;
  /* Gecko Browsers */ }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px; } }
.user-img {
  height: auto;
  width: auto;
  max-height: 35px;
  max-width: 35px; }

.cover-photo {
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(78, 193, 233, 0.5) 0%, rgba(146, 124, 194, 0.5) 100%), url(../images/space.png) no-repeat;
  background-size: cover; }

.profile-img {
  border-radius: 100px;
  border: 4px solid #927cc2; }

.profile-top-info {
  margin-top: 60px; }

.main-content {
  margin-top: 65px; }

.top-item-position {
  margin-top: 20px;
  margin-left: -40px; }

.game-list-img {
  margin-bottom: 30px; }

.sidebar-item {
  margin-bottom: 30px; }

.info {
  margin-bottom: 20px; }
  .info:first-child {
    margin-top: 20px; }

.info-label {
  color: #927cc2;
  margin: 0; }

.color-span {
  color: white; }

.info-data {
  color: white;
  font-size: 24px;
  margin: 0; }
  .info-data span {
    color: #927cc2;
    margin-left: 5px;
    font-size: 14px; }

.steazzy-btn {
  background-image: linear-gradient(#55dbff 0%, #5269d1 100%);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 0;
  color: #050408;
  text-decoration: none;
  font-weight: 700;
  transition: all .5s; }
  .steazzy-btn:hover {
    text-decoration: none;
    background-image: linear-gradient(-180deg, #5269d1 0%, #04437d 100%);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
    color: #fff;
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    box-shadow: 0px 0px 25px #55dbff; }

.img-fill img {
  width: 100%;
  max-width: 184px;
  height: auto; }

.steazzy-block {
  background-color: #1C1629; }

.col-padding {
  padding: 15px; }

.steazzy-font {
  font-family: "Orbitron", sans-serif;
  font-weight: bold; }

.profile-level {
  display: inline-block;
  width: 50px;
  line-height: 40px;
  border-radius: 30px;
  border: 5px solid #927cc2;
  text-align: center;
  /* or 50% */
  border-radius: 30px;
  /* or 50% */ }

.cover-text, .cover-header {
  color: white;
  text-shadow: 0 2px 2px black; }

.cover-header {
  display: inline-block; }
  .cover-header + p {
    margin-left: 10px;
    display: inline-block; }
